
<%= form_for [@company, @job] do |f| %>
<%= f.label :title %>
  <div class="row">
    <div class="col-sm-3">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <%= f.label :description %>
  <div class="row">
    <div class="col-sm-4">
  <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <%= f.label :level_of_interest %>
  <div class="row">
    <div class="col-sm-1">
      <%= f.select :level_of_interest, (1..5), class: "form-control"%>
    </div>
  </div>
  <%= f.label :city %>
  <div class="row">
    <div class="col-sm-2">
      <%= f.text_field :city, class:"form-control"%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    <%= f.label :category %>
      <%= f.collection_select :category_id, Category.order(:title), :id, :title %>
    </div>
  </div>
  <div class="secondary-heading">
    <%= link_to 'Create a New Category', new_category_path %>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <%= f.label :company %>
      <%= f.collection_select :company_id, Company.order(:name), :id, :name %>
    </div>
  </div>
</br>
<div class="row">
  <div class="col-sm-1">
    <%= link_to "Cancel", jobs_path %>
  </div>
  <div class="col-sm-2">
    <%= f.submit %>
  </div>
</div>
<% end %>
<%= render partial: "./partials/footer" %>
