<%= form_for @company do |f| %>
  <%= f.label :name %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.text_field :name, class:"form-control"%>
    </div>
  </div>
</br>
  <div class="row">
    <div class="col-sm-1">
      <%= link_to "Cancel", companies_path %>
    </div>
    <div class="col-sm-2">
      <%= f.submit %>
    </div>
  </div>
<% end %>
