<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= favicon_link_tag 'favicon-bar-chart.ico' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "./partials/navbar" %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
<%= yield %>
<%= render partial: "./partials/footer" unless @disable_footer%>
</body>
</html>
